<div id="about" class="content alignCenter container-fluid"> 
	<br>
	<h1>about</h1>
	<hr width="40%">
	<h2>education</h2><hr width="35%">
	
	<div class="project">
	  <p class="margin0">The University of North Carolina at Chapel Hill</p>
	  <p class="margin0">B.S. Computer Science</p>
	  <p class="margin0">Neuroscience Minor</p>
	</div>

	<br><p class="bold alignCenter">Coursework</p><hr width="20%">
	  <div class="container-fluid">
        <div class="row">
		  <% for(var i=0; i<courses.length-1; i++) { %>
            <% if(i%3==0 && i!=0) { %>
              </div><div class="row"><div class="col-sm-4">
                  <p class="padding2 project underlineHover"><%= courses[i] %></p>
                </div>
            <% } else { %>
              <div class="col-sm-4">
                <p class="padding2 project underlineHover"><%= courses[i] %></p>
              </div>
            <% } %>
          <% }; %>
          <% if(courses.length % 3==1) { %>
            </div><div class="row"><div class="col-sm-4">
			<p class="padding2 project underlineHover"><%= courses[courses.length-1] %></p></div></div
                <% } else { %>
                    <div class="col-sm-4">
                    <p class="padding2 project underlineHover"><%= courses[courses.length-1] %></p>
                    </div>
                <% } %> 
                  </div>
                </div> 

	<hr width="30%">
	<hr width="25%">

	<h2>skills</h2><hr width="35%">
	<div class="container-fluid">
	<div class="row">
	  <div class="col-12 project">	
	    <p class="margin0 padding2"><span class="bold">Languages: </span>
		  <% for(var i=0; i<languages.length-1; i++) { %>
			<%= languages[i] %>,
		 <% }; %>
		<%= languages[languages.length-1] %>
		</p>
		</div>
	</div>
	<div style="line-height:50%"><br></div>
	<div class="row">
	  <div class="col-12 project">
	  	<p class="margin0 padding2"><span class="bold">Operating Systems: </span>
			<% for(var i=0; i<os_s.length-1; i++) { %>
				<%= os_s[i] %>,
			<% }; %>
			<%= os_s[os_s.length-1] %>
		</p></div>
	</div>
	<div style="line-height: 50%"><br></div>
	<p class="alignCenter bold">Soft Skills</p><hr width="20%">
	<div class="row">
	  <% for(var i=0; i<soft_skills.length-1; i++) { %>
	    <% if(i%3==0 && i!=0) { %>
		  <div class="col-6 col-md-4">
		    <p class="padding2 project"><%= soft_skills[i] %></p></div>
	    <% } else { %>
		  <div class="col-6 col-md-4">
		    <p class="padding2 project"><%= soft_skills[i] %></p></div>
		<% } %>
	  <% }; %>
	  <% if(soft_skills.length %3==1) { %>
	    <div class="col-4">
		  <p class="padding2 project"><%= soft_skills[soft_skills.length-1] %></p></div></div>
	  <% } else { %>
	  	<div class="col-6 col-md-4">
		  <p class="padding2 project"><%= soft_skills[soft_skills.length-1] %></p></div>
	  <% } %>
		
	</div></div>	

	
	<hr width="30%">
	<hr width="25%">
		
	<h2>interests</h2><hr width="35%">
			
		  <div class="container-fluid">
            <div class="row">
            <% for(var i=0; i<interests.length-1; i++) { %>
              <% if(i%3==0 && i!=0) { %>
                </div><div class="row">
                <div class="col-sm-4">
                <p class="padding2 underlineHover project"><%= interests[i] %></p></div>
              <% } else { %>
                <div class="col-sm-4">
                <p class="padding2 underlineHover project"><%= interests[i] %></p></div>
              <% } %>
            <% }; %>
            <% if( interests.length % 3 == 1 ) { %>
              </div><div class="row"><div class="col-sm-4">
              <p class="padding2 underlineHover project"><%= interests[interests.length-1] %></p>
              </div></div>
            <% } else { %>
                <div class="col-sm-4">
                <p class="padding2 underlineHover project"><%= interests[interests.length-1] %></p>
            	</div></div>
			<% } %>
        </div>

	</table>
	<hr width="30%">
	<hr width="25%">
</div>
